@font-face{
    font-family: "iconos";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'),
        url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/websymbols-regular-webfont.woff") format("woff"),
         url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
}

/*Cabecera*/

#carrito a{
    color: #669d42 !important;
    font-size: 25px;
    font-family: iconos;
}

#bola{
    position: absolute;
    right: 5px;
    top: 20px;
    padding: 13px;
    border-radius: 100px;
    background-color: #669d42;
    z-index: 0;
}

#contador{
    position: absolute;
    color: white;
    right: 9px;
    top: 20px;
    z-index: 1;
    letter-spacing: 6px;
}

#carrito a:hover{
    color: #517e33 !important;
}

#header{
    border-bottom: 5px solid #669d42;
}

#promociones{
    border-bottom: 5px solid #669d42;
}

#header #logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 50%;
}

#header h1 {
    float: left;
    text-align: center;
    font-size: 50%;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;   
    transition: all 300ms;
}

#header h1:hover{
    text-shadow:  0px 0px 4px #669d42;
}

#header h1 a{
    color: #669d42;    
}
/*Estilos generales*/

.clearfix{
    float: none;
    clear: both;
}

/*Barra de navegacion*/

.nav-item{
    padding: 5%;
    line-height: 1px;
    border-left: 1px solid #669d42;
    color: #669d42;
}

.nav-link{
    color: #669d42 !important;
}

.nav-item:hover,
.nav-link:hover{
    background-color: #669d42;
    border-radius: 2px; 
    color: white !important;
}

.nav-item:last-child{
    border-right: 1px solid #669d42;
}

#ul{
    margin-left: 35%;
}

/*Productos*/

#productos{
    padding: 2%;
}

#titulo{
    text-align: center;
    color: #669d42;
    border-bottom: 1px solid #669d42;
    margin-bottom: 2%;
}

.card{
    margin: 1%;
    float: left !important;
}

.card a{
    float: right;
}

.btn{
    background-color: #669d42;    
    border: 1px solid #669d42;
    margin: 1%;
    color: white;
}

.btn:visited{
    background-color: #669d42;    
    border: 1px solid #669d42;
    color: white;
    box-shadow: 5px 5px 5px #669d42 !important;
}

.btn:hover{
    background-color: #517e33 !important;    
    border: 1px solid #517e33 !important;
}

#Buscador{
    margin: 1% !important;
}

/*Pie de pagina*/

#footer{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 40px;
    background-color: #333333;
    padding-top: 20px;
    padding-bottom: 1px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}
